.titles{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem;
    padding: 1rem;
    border-top: 0.5px solid black;
}
.buscard{
    width: 99%;


    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin: 1rem 0.5rem;
    padding: 1rem;
    border: 0.5px solid black;
    

}

/* .card{
    text-align: left;
} */
.bus-photo{
    width: 10%;
}
.bus-photo img{
    width: 200%;
    margin-left: 20%;

    /* border-radius: 20px; */
    
}
.button{
    position: absolute;
    right: 0;
    margin-right: 12.5px;
    margin-top: 100px;
    background-color: rgb(27, 127, 27);
    color: white;
    padding: 2px;
    border-radius: 2px;
    /* border: 2px solid red; */


    
}
